<h1 div class="titlewords">The Cancellation of a Legend </h1>
<p div class="para">Remember the darkest moment <br />
Not to mourn it <br />
But to learn from it <br />
And never again repeat the mistake of the past. <br />
<b>SEPTEMBER 4, 2013. IN MEMORIAM.<b> 
</p>