<h1 class="bender"> Bender's Top Ten Most Frequently Uttered Words </h1>
<p class="benderwords"><br />
10. Chump<br />
9. Chumpette<br />
8. Yours <br />
7. Up <br />
6. Pimpmobile <br />
5. Bite <br />
4. My <br />
3. Shiny <br />
2. Daffodil <br />
1. Ass
</p> 