<div class= "bender">
<h1> The Many Episodes of Futurama </h1>
<h1><%= link_to "Add An Episode", new_episode_path %></h1>
<hr>
<% @episodes.each do |episode| %>
   <h1> <i><%= episode.episode_name %></i> </h1>
    <h2> <%= episode.airdate %> </h2>
<% end %>